apiVersion: v2
name: jasperserver-pro
description: JasperReportServer deployment in K8s
type: application
version: 1.0.0
appVersion: "8.1.0"
keywords:
  - Analytics
  - BI Tool
  - Embeddable Reporting Server

maintainers:
  - name: Jaspersoft
    email: js-support@tibco.com
    url: https://www.jaspersoft.com/

dependencies:
  - name: kubernetes-ingress
    version: 1.15.4
    repository: "@haproxytech"
    condition: ingress.enabled

  - name: kube-prometheus-stack
    version: ~16.0.1
    repository: "@prometheus-community"
    condition: metrics.enabled

  - name: elasticsearch
    version: 7.12.0
    repository: "@elastic"
    condition: logging.enabled

  - name: kibana
    version: 7.12.0
    repository: "@elastic"
    condition: logging.enabled

  - name: scalable-query-engine
    version: "1.0.0"
    repository: "file://../../scalableQueryEngine/helm"
    condition: scalableQueryEngine.enabled
    tags:
      - adhoc
      - data-api
